html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    font-family: arial;

}

#wrap {
    width: 70%;
    margin: 0 auto;
}

header {
    background-color: whitesmoke;
    text-align: center;
}

nav {
    background-color: #0e3d91;
    text-align: center;
    padding: 10px 0;
    font-family: verdana;
}

nav a {
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
    background-color: navy;
}

nav li {
    display: inline;
}

nav ul {
    padding: 0;
    margin: 0;
}

section {
    padding: 20px;
    overflow: auto;
}

section h1 {
    color: #0e3d91;
    font-size: 180%;
    margin: 0;
}

.doritos {
    width: 30%;
    float: right;
}

footer {
    background-color: #ec3d0f;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;

}

.button {
    background-color: blue;
    color: white;
    text-decoration: none;
    margin: 15px 0;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
}

a.button:hover {
    background-color: #ec3d0f;
}
